{{dictionary.email_verification_page_text1}}

<script>
    var linkto;
</script>
{{#if this.err}}
    {{dictionary.email_verification_page_text2}}
{{else}}

    {{#IFactive this.is_verify '1'}}


        <span>{{dictionary.email_verification_page_text3}} </span><span id="counter">5</span><span> {{dictionary.email_verification_page_text4}}</span>
        {{#if this.linkto}}

            <script>
                linkto = '/exhibition/'+{{this.linkto}};
            </script>

        {{else}}

            <script>
                linkto = '/exhibitions';
            </script>
        {{/if}}

        <script>

            var sek = 5;
            var sp = document.getElementById('counter');
            var timer = setInterval(function(){
                sp.innerText = sek;
                sek--;
            },1000);

            var timeout = setTimeout(function(){
                window.location = linkto;
            },6000);


        </script>

    {{/IFactive}}

    {{#IFactive this.is_verify '0'}}
        {{dictionary.email_verification_page_text2}}
    {{/IFactive}}

{{/if}}
