{{dictionary.email_forgot_letter_text1 }} {{user.first_name}} {{user.last_name}}<br>
<!-- Your link <a href="http://www.invitation.kiev.ua/user/new_pass/{{user.email_verification_code}}"> Click here to finish registration </a><br> -->
{{dictionary.email_forgot_letter_text2 }}  <a href="http://localhost:3000/user/new_pass/{{user.email_verification_code}}"> {{dictionary.email_forgot_letter_text3 }}  </a>