<form hash = {{user}} class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>{{dictionary.email_forgot_page_text1}}</legend>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="input_password"> {{dictionary.enter_placeholder_password}}</label>
            <div class="col-md-4">
                <input id="input_password" name="input_password" type="password" placeholder="{{dictionary.enter_placeholder_password}}" class="form-control input-md" required="">
                <span id="password_span" class="error" hidden>{{dictionary.email_forgot_page_text2}}</span>
            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="input_repassword">{{dictionary.email_forgot_page_text3}}</label>
            <div class="col-md-4">
                <input id="input_repassword" name="input_repassword" type="password" placeholder="{{dictionary.email_forgot_page_text3}}" class="form-control input-md" required="">
                <span id="repassword_span" class="error" hidden>{{dictionary.email_forgot_page_text4}}</span>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="change_pass_btn"></label>
            <div class="col-md-4">
                <button id="change_pass_btn" type="button" name="change_pass_btn" class="btn btn-success btn-block">{{dictionary.email_forgot_page_text5}}</button>
            </div>
        </div>

    </fieldset>
</form>
